mat-table {
  .background-row:nth-child(2n) {
    background: #383838;
  }

  .background-row:nth-child(2n+1) {
    background: inherit;
  }
}

.mat-column-name {
  max-width: 250px
}

.mat-column-scores {
  max-width: 100px;
}

.team-name {
  font-size: 1.5em;
  text-transform: capitalize;
}

.chapter-title {
  text-align: center;
  font-size: 1.5em;
  margin: auto;
}

.team-progress {
  margin: auto;
}

.score {
  font-size: 1.8em;
  margin: auto;
}
