<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://takima.fr"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">share</mat-icon>
            <span>Visit Takima.fr</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <p class="mat-body">
                François De Guibert
                <span>&bull;</span>
                Antoine Lebel
                <span>&bull;</span>
                Loïc Ortola
            </p>
        </div>

    </div>

</mat-toolbar>
