<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div class="header accent accent-bg p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">
                <span class="mat-display-4 mb-0 welcome-message"
                      [@animate]="{value:'*',params:{x:'50px'}}">{{ 'savinglora' | translate }}
                </span>
                <span class="mat-display-3 mb-0">
                    {{ timeElapsed }}
                </span>
            </div>
        </div>
        <!-- /HEADER-->

        <!-- CONTENT -->
        <div class="content px-24 pt-8">
            <team-table></team-table>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
