<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo ml-16" [routerLink]="'/dashboard'">
                    <img class="logo-icon" src="assets/images/logos/takima.svg">
                </div>
            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <div class="toolbar-separator"></div>

            <button mat-button fxHide fxShow.gt-xs
                    *ngIf="!alreadyHasTeam()"
                    class="language-button"
                    [routerLink]="'/register'">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="iso text-capitalize">{{ 'team.register'| translate }}</span>
                </div>
            </button>

            <button mat-button fxHide fxShow.gt-xs
                    *ngIf="alreadyHasTeam()"
                    class="language-button"
                    [routerLink]="'/myteam'">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="iso text-capitalize">{{ 'team.infos'| translate }}</span>
                </div>
            </button>

            <div class="toolbar-separator"></div>

            <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu>

            <div class="toolbar-separator" fxHide fxShow.gt-xs *ngIf="userLogged"></div>

            <button mat-icon-button
                    *ngIf="userLogged"
                    class="quick-panel-toggle-button"
                    (click)="userLogout()"
                    aria-label="User Logout">
                <mat-icon class="secondary-text icon">power_settings_new</mat-icon>
            </button>

        </div>

    </div>

</mat-toolbar>
