<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo_takima.svg">
            </div>

            <div class="title">LOGIN</div>

            <div class="text-center">
                Retrieve your team information with your client ID
            </div>
            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <input matInput placeholder="Client ID" autocomplete="off" formControlName="clientId">
                    <mat-error *ngIf="loginForm.get('clientId').hasError('required')">
                        Client ID is required
                    </mat-error>
                </mat-form-field>

                <div align="center">
                    <mat-spinner class="mat-spinner mat-accent" *ngIf="loading"
                                 [diameter]="50">
                    </mat-spinner>
                </div>

                <div *ngIf="error" class="text-center">
                    <mat-error *ngIf="!error.status">
                        {{ 'login.error' | translate }}
                    </mat-error>
                    <mat-error *ngIf="error.status === 404">
                        {{ 'login.badcredentials' | translate }}
                    </mat-error>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid" *ngIf="!loading">
                    {{ 'login.label' | translate | uppercase }}
                </button>

            </form>

        </div>

    </div>

</div>
