<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo_takima.svg">
            </div>

            <div class="title">ADMIN LOGIN</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <input matInput placeholder="Username" autocomplete="username" formControlName="username">
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" autocomplete="current-password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div align="center">
                    <mat-spinner class="mat-spinner mat-accent" *ngIf="loading"
                                 [diameter]="50">
                    </mat-spinner>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid" *ngIf="!loading">
                    {{ 'login.label' | translate | uppercase }}
                </button>

                <div *ngIf="error">
                    <mat-error *ngIf="error.code === 401">
                        {{ 'login.401' | translate }}
                    </mat-error>
                    <mat-error *ngIf="error.code !== 401">
                        {{ 'login.error' | translate }}
                    </mat-error>
                </div>

            </form>

        </div>

    </div>

</div>
